body{
    font-size: 12px;
    font-family: Tahoma,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    width: 1100px;
    margin: auto;
    background-color: #EEEEEE;
    /*overflow: auto;*/
}
.main-menu{
    border-bottom: 2px solid #8B0000;
    border-left:6px solid #8B0000;
    overflow: auto;
}
.main-menu .item{
    float: left;
    padding: 20px;

}
.main-menu .item:hover {
    background-color: #8B0000;
    color: white;
    cursor: pointer;
}
.main-menu .item .sub-menu{
    position: absolute;
    background-color: #EEEEEE;
    display: none;
}
.main-menu .item .sub-menu .sub-item{
    padding: 20px;
    border-bottom: 2px solid gray ;
}
.main-menu .item:hover .sub-menu {
    display: block;
    color: black;
    margin-top: 20px;
    margin-left: -20px;
    border-top:2px solid #8B0000 ;
}
.main-menu .item .sub-menu .sub-item:hover{
    background-color: #8B0000;
    color: white;
    cursor: pointer;
    border-top:2px solid #8B0000 ;
}



