*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --height--column--: 45px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 600px;
    height: 100%;
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid black;
}

.green-title{
    color:#7ed321 ;
    font-weight: 750;
    font-size: 18px;
    /*margin : 5px ;*/
    margin-bottom: 20px;
}
.info{
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 2px solid #EEEEEE;
    height: var(--height--column--);
    margin-bottom: 10px;
}

.info input {
    width: 80%;
    border: none;
    padding: 5px 10px;
    /*width: 100%;*/
    font-size: 15px;
}
.info input:focus-visible {
    outline: none;
}
.info i{
    font-size: 22px;
    padding: 9px 20px ;
    color: gainsboro;
}
.name i::after{
    content: "";
    position: relative;
    border-right: 2px solid darkgray;
    left: 20px;
}
.DOB_Gender{
    display: grid;
    /*position: relative;*/
    grid-template-columns: 1.25fr 1fr;
    gap: 20px;
}
.DOB_Gender .date-of-birth .birthday{
    max-width: 50%;
    display: flex;
}
.DOB_Gender .date-of-birth input{
    display: flex;
    width: 70px;
    height: 35px;
    margin: 10px 0;
}
#month {
    margin: 10px 10px;
}
.DOB_Gender .gender{
    max-width:58.5%;
}
.DOB_Gender .gender .gen {
    display: flex;
    border: 1px solid grey ;
    margin: 10px 0;
}
.DOB_Gender .gender .gen .male{
    padding: 10px 12px;
    border-right: 1px solid grey;
}
.DOB_Gender .gender .gen .female{
    padding: 10px 15px;
}
.DOB_Gender .gender .gen .male:active{
    background-color: #7ed321;
}
.DOB_Gender .gender .gen .female:active{
    background-color: #7ed321;
}
.pay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}
.pay .col_2{
    border: 1px solid grey;
    padding: 15px;
    justify-content: center;
    text-align: center;
}
.pay .col_2 .right{
    border-right: none;
}
.pay .col_2:hover{
    background-color: #7ed321;
}
.pay .col_2 >i{
    font-size: 20px;
    color: gainsboro;
}
.cardCVC-select{
    display: flex;
    justify-content: right;
}
.cardCVC{
    padding: 10px;
}
.cardCVC select{
    padding: 10px;
}







