.main{
    border:4px rgb(226, 226, 226);
    margin: 0 80px;
    border-style: ridge;
    box-shadow: 0 1px 0 1px black;

}

.header{
    display: flex;
    background-color: rgb(164, 164, 164);
    padding: 5px;
    font-family: Arial, Helvetica;
    /* border: 3px solid rgb(255, 255, 255); */
    margin: 1px;
    
}


.cont {
    font-weight: 600;
}

li {
    list-style: none;
    font-weight: 300;
}

.content{
    display: flex;
    /* border: 3px solid rgb(192, 188, 188); */
    margin: 1px;
    
}
.content-left{
    width: 30%;
    background-color: rgba(255, 255, 0, 0.315) ;
    /* border:  3px solid rgb(192, 188, 188); */
    margin: 1px;

}
.content-right{
    display: flex;
    width: 70%;

    background-color: white;
    border-left: 3px ridge rgb(226, 226, 226);

}
.footer{
    display: flex;
    background-color: darkgray;
    text-align: center;
    justify-content: center;
    margin: 1px;
    /* border: 3px solid black; */
}

h5{
    text-align: center;
}


.main_2 {
    border: 1px solid black;
    margin: 40px 80px 
}

.header_2 {
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    font-family: Arial, Helvetica;
    border: 1px solid black;
    height: 10%;
    border-style: groove;
    
}
.Navi_2 {
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    font-family: Arial, Helvetica;
  
    border: 1px solid black;
    /* border-color: blue; */
    border-style: groove;
}
.content_2 {
    display: flex;
    border: 1px solid black;
}
.content-left_2 {
    width: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.content-right_2 {
    width: 70%;
    background-color: white;
    border-left: 1px solid black;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer_2 {
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid black;

}
.main_3{
    margin: 80px 80px;
    /* background-color: rgb(156, 104, 7); */

}
.text{
    text-align: center;
    justify-content: center;
}
.row1{
    display: flex;
    margin: 20px;
}
.one{
    margin: 50px;
    display: flex;
    float: left;
    width: 150px;
    height: 150px;
    text-align: center;
    justify-content: center;
    background-color: aqua;
}
#nd{
    padding-top: 65px;
}

